/* styles.css */

/* TODO
1. Probably shouldn't use px
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER ITEMS */

header {
  background-image: url("banner.png");
  background-size: cover;
  background-position: bottom;
  color: #fff;
  padding: 2em;
}

/* Used for banner */
h1 {
  margin: 0;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.banner-name {
  display:inline-block;
}

.info-menu {
  float:right;
  margin-right: 1rem;
  max-width: 5%;
  max-height: auto;
  vertical-align:center;
  display:inline-block;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.3em;
  background: transparent;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  text-align: center;
}

.content {
  padding: 1.5em;
}

h2 {
  margin-top: 2rem;
}

/*
p {
  font-size: 18px;
  line-height: 1.5;
}
*/

/* CHOOSING THE SPREADSHEET */

/* The text of the drop-zone */
#drop-zone {
  border: 2px dashed #ccc;
  padding: 2em 6em;
  text-align: center;
  display: inline-block;
  flex: 1 0 auto;
}

#drop-zone.dragover {
  background-color: #f2f2f2;
}

/* Contains the landing-site/drop-zone */
.sheet-chooser-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Vertically center the items */
  /*margin-bottom: 2rem; /* Add space below the sheet-chooser-group */  
}

.landing-site {
  flex: 1 0 inherit; /* Allow the div to expand - FIXME */
  margin: 2em 1em;  /* Add space between the divs */
}

select {
  width: 100%;
  padding: 1em;
  font-size: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Contains the year label and select-box and
 * the event prefix label and input
 */
.select-box {
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
}

/* Additional styles for select box layout 
label {
  display: block;
  margin-top: 0.5em;
}
*/

/* Select year options and event prefix */
#select-sheet {
  color: blue;
  font-size: inherit;
}

/* Select sheet */
#year-dropdown, #event-prefix {
  color: blue;
  font-size: inherit;
  max-width: 25vw;
}

/* The spreadsheet */
.sheet-group {
  /* Add space between sheet-chooser-group and sheet-group */
  margin-top: 1rem;
}

.sheet-name-number {
  display: inline-block;
}

.column-select {
  background-color: LightSkyBlue;
}

#the-sheet {
  color: blue;
  font-size: inherit;
}

/* Display the spreadsheet's first few rows */
.table-container {
  overflow: auto;
  max-width: 100%;
  max-height: 16em; /* Adjust the height as needed */
}

.table-wrapper {
  display: inline-block;
  vertical-align: top;
}

/* export buttons */
button {
  font-size: 1rem;
  float: right;
  margin-right: 2rem;
  color: black;
  background-color: LightSkyBlue;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}
button:disabled,
button[disabled]{
  color: white;
  background-color: grey;
}

/* CALENDAR SELECTION AND DOWNLOAD */

/* Choose calendars to export */
#cancel-calendar-choice-button {
  float:left;
  margin-left: 2rem;
  background-color: transparent;
}

/* Button to download calendar */
#download-link {
  background-color: LightSkyBlue;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 4px;
  margin-left: 1rem;
  color: black;
  text-decoration: none;
}

/* Checkboxes to select calendars for export */
label, input[type="checkbox"] {
  margin-left: 1rem;
  display: inline-block;
  vertical-align:middle;
}


/* STYLING THE DOCUMENTATION */

/* Boxes around text */
.instr-box {
  border: 1px solid black;
  white-space: nowrap;
  padding: 0.1em 0.25em;
}

.instr-landing {
  border: 1px dashed black;
  white-space: nowrap;
  padding: 0.1em 0.25em;
}

.instr-button {
  border: 1px solid black;
  white-space: nowrap;
  background-color: LightSkyBlue;
  padding: 0.1em 0.25em;
}
